fastapi
uvicorn[standard]
python-multipart
gunicorn

openai
azure-search-documents
azure-core
pymupdf
python-pptx
python-docx
olefile
ppt2txt

tiktoken
tenacity
langdetect

pytest
pytest-asyncio
httpx

python-dotenv

